*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainContainer{
    padding: 50px 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.header{
  display: flex;
  justify-content: space-between;
}